page-create-accont {

    #titleCadastro{
        text-align: center;
        margin-right: 4.59%;
    }

    #logo{

        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        background-image: url("../../assets/imgs/icon_academy.jpg");
        width:100%;
        height:100px;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    #frase{
    
        text-align: center;
        padding-bottom: 10px;
    }
    
    #btnCadastroEntrar{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    #inputCadastroNome{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90%;
    }

    #inputCadastroEmail{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90%;
    }

    #inputCadastroSenha{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90%;
    }

    #inputCadastroLogin{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 90%;
    }


    #inputCadastroNome:hover{

        cursor:text;
    }

    #inputCadastroEmail:hover{

        cursor:text;
    }

    #inputCadastroSenha:hover{

        cursor:text;
    }

    #inputCadastroLogin:hover{

        cursor:text;
    }

}
